.App {
  padding: 50px;
}

.container {
  width: 1000px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grow1 {
  flex: 1
}

.grow3 {
  flex: 3
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-10 {
  padding: 10px;
}

.p-50{
    padding: 50px
}

.text-center {
  text-align: center;
}

.toolbar {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.toolbar a {
  margin-left: 20px;
}


.char {
  width: 250px;
  background-color: #f1f1f1;
  margin: 10px;
}

.char img {
  width: 100%;
}

.singleItem {
  background-color: #f1f1f1;
  margin-top: 10px;
}

.singleItem img {
  width: 70px;
}
